#Data Types and Structures

1. What are data structures, and why are they important?
Data structures are organized ways to store and manage data so operations like access, insertion, and deletion can be done efficiently. They are important because they improve performance, memory usage, and problem-solving efficiency.

2. Explain the difference between mutable and immutable data types with examples.
Mutable types can be changed after creation (examples: list, dict, set).
Immutable types cannot be changed after creation (examples: int, float, str, tuple).

3. What are the main differences between lists and tuples in Python?
Lists are mutable, use square brackets, and support modification.
Tuples are immutable, use parentheses, and represent fixed data.

4. Describe how dictionaries store data.
Dictionaries store key-value pairs using a hash table. A hash function computes the index where each value is stored.

5. Why might you use a set instead of a list in Python?
Sets remove duplicates automatically and provide faster membership testing than lists.

6. What is a string in Python, and how is it different from a list?
A string is an immutable sequence of characters. A list is a mutable sequence that can contain any type of elements.

7. How do tuples ensure data integrity in Python?
Tuples are immutable, so their values cannot be changed after creation. This prevents accidental modifications.

8. What is a hash table, and how does it relate to dictionaries in Python?
A hash table stores key-value pairs using a hash function. Python dictionaries are implemented using a hash table.

9. Can lists contain different data types in Python?
Yes, lists can contain multiple data types (heterogeneous data).

10. Explain why strings are immutable in Python.
Strings are immutable for safety, memory optimization, and to allow them to be used as dictionary keys.

11. What advantages do dictionaries offer over lists for certain tasks?
Dictionaries allow fast key-based lookups (O(1) on average) and are better for mapping identifiers to values.

12. Describe a scenario where using a tuple would be preferable over a list.
When storing constant data like coordinates, RGB values, or configuration records that should not change.

13. How do sets handle duplicate values in Python?
Sets automatically remove duplicates when elements are added.

14. How does the “in” keyword work differently for lists and dictionaries?
For lists, it checks if a value exists in the list.
For dictionaries, it checks if a key exists in the dictionary.

15. Can you modify the elements of a tuple? Explain why or why not.
No, you cannot modify tuple elements because tuples are immutable.

16. What is a nested dictionary, and give an example of its use case.
A nested dictionary is a dictionary inside another dictionary.
Example use case: storing user data with attributes for each user.

Example:

users = {
    "u1": {"name": "Alice", "age": 30},
    "u2": {"name": "Bob", "age": 25}
}


17. Describe the time complexity of accessing elements in a dictionary.
Accessing a value by key is O(1) on average.

18. In what situations are lists preferred over dictionaries?
Lists are preferred when order matters, when indexing is required, or when storing simple sequences of items.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
Dictionaries conceptually map keys to values without positional order. Retrieval is based on keys, not index positions.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
A list retrieves data by index (position).
A dictionary retrieves data by key.

In [1]:
#1. Write a code to create a string with your name and print it
name = "Shivam"
print(name)

Shivam

In [2]:
#2. Write a code to find the length of the string "Hello World"
s = "Hello World"
print(len(s))

11

In [3]:
#3. Write a code to slice the first 3 characters from the string "Python Programming"
s = "Python Programming"
print(s[:3])

Pyt

In [4]:
#4. Write a code to convert the string "hello" to uppercase
s = "hello"
print(s.upper())

HELLO

In [5]:
#5. Replace "apple" with "orange" in the string "I like apple"
s = "I like apple"
print(s.replace("apple", "orange"))

I like orange

In [6]:
#6. Create a list with numbers 1 to 5 and print it
lst = [1, 2, 3, 4, 5]
print(lst)

[1, 2, 3, 4, 5]

In [7]:
#7. Append 10 to the list [1, 2, 3, 4]
lst = [1, 2, 3, 4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

In [8]:
#8. Remove the number 3 from the list [1, 2, 3, 4, 5]
lst = [1, 2, 3, 4, 5]
lst.remove(3)
print(lst)

[1, 2, 4, 5]

In [9]:
#9. Access the second element in the list ['a', 'b', 'c', 'd']

lst = ['a', 'b', 'c', 'd']
print(lst[1])

b

In [10]:
#10. Reverse the list [10, 20, 30, 40, 50]
lst = [10, 20, 30, 40, 50]
lst.reverse()
print(lst)

[50, 40, 30, 20, 10]

In [11]:
#11. Create a tuple with 100, 200, 300 and print it
t = (100, 200, 300)
print(t)

(100, 200, 300)

In [12]:
#12. Access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')
t = ('red', 'green', 'blue', 'yellow')
print(t[-2])

blue

In [13]:
#13. Find the minimum number in the tuple (10, 20, 5, 15)
t = (10, 20, 5, 15)
print(min(t))

5

In [14]:
#14. Find the index of "cat" in ('dog', 'cat', 'rabbit')
t = ('dog', 'cat', 'rabbit')
print(t.index("cat"))

1

In [15]:
#15. Create a tuple of three fruits and check if "kiwi" is in it
fruits = ("apple", "banana", "mango")
print("kiwi" in fruits)

False

In [16]:
#16. Create a set with 'a', 'b', 'c' and print it
s = {'a', 'b', 'c'}
print(s)

{'c', 'b', 'a'}

In [17]:
#17. Clear all elements from the set {1, 2, 3, 4, 5}
s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

In [18]:
#18. Remove element 4 from the set {1, 2, 3, 4}
s = {1, 2, 3, 4}
s.discard(4)
print(s)

{1, 2, 3}

In [19]:
#19. Find the union of sets {1, 2, 3} and {3, 4, 5}

s1 = {1, 2, 3}
s2 = {3, 4, 5}
print(s1.union(s2))

{1, 2, 3, 4, 5}

In [20]:
#20. Find the intersection of sets {1, 2, 3} and {2, 3, 4}
s1 = {1, 2, 3}
s2 = {2, 3, 4}
print(s1.intersection(s2))

{2, 3}

In [21]:
#21. Create a dictionary with keys "name", "age", "city" and print it
d = {"name": "John", "age": 25, "city": "New York"}
print(d)

{'name': 'John', 'age': 25, 'city': 'New York'}

In [22]:
#22. Add "country": "USA" to {'name': 'John', 'age': 25}
d = {'name': 'John', 'age': 25}
d["country"] = "USA"
print(d)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [23]:
#23. Access the value of "name" in {'name': 'Alice', 'age': 30}
d = {'name': 'Alice', 'age': 30}
print(d["name"])

Alice

In [24]:
#24. Remove "age" from {'name': 'Bob', 'age': 22, 'city': 'New York'}
d = {'name': 'Bob', 'age': 22, 'city': 'New York'}
d.pop("age")
print(d)

{'name': 'Bob', 'city': 'New York'}

In [25]:
#25. Check if "city" exists in {'name': 'Alice', 'city': 'Paris'}
d = {'name': 'Alice', 'city': 'Paris'}
print("city" in d)

True

In [26]:
#26. Create and print a list, tuple, and dictionary
lst = [1, 2, 3]
t = (4, 5, 6)
d = {"a": 1, "b": 2}
print(lst)
print(t)
print(d)

[1, 2, 3]
(4, 5, 6)
{'a': 1, 'b': 2}

In [27]:
#27. Create a list of 5 random numbers (1–100), sort, and print
import random
lst = random.sample(range(1, 101), 5)
lst.sort()
print(lst)

[17, 21, 27, 71, 94]

In [28]:
#28. Create a list of strings and print the element at index 3
lst = ["one", "two", "three", "four", "five"]
print(lst[3])

four

In [29]:
#29. Combine two dictionaries and print
d1 = {"a": 1, "b": 2}
d2 = {"c": 3, "d": 4}
result = {**d1, **d2}
print(result)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [30]:
#30. Convert a list of strings to a set
lst = ["apple", "banana", "apple", "mango"]
s = set(lst)
print(s)

{'banana', 'mango', 'apple'}